<div th:fragment="discount">
  <h3>우대율 상세 안내</h3>
  <p>(비로그인 고객 또는 로그인 고객의 현찰배달서비스의 재환전(반송) 시에는 현찰매입율(환율우대 50%) 적용)</p>
  <div class="discount-table-wrapper">
    <table class="discount-table">
      <thead>
        <tr>
          <th>통화</th>
          <th>기본 우대율</th>
          <th colspan="2">이벤트 우대율</th>
          <th>현찰배달 (로그인)</th>
        </tr>
        <tr>
          <th></th>
          <th></th>
          <th>로그인환전(개인/기업)</th>
          <th>비로그인환전</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr><td>미국 USD</td><td>50</td><td>90</td><td>80</td><td>90</td></tr>
        <tr><td>일본 JPY</td><td>50</td><td>90</td><td>80</td><td>90</td></tr>
        <tr><td>유럽 EUR</td><td>50</td><td>80</td><td>70</td><td>80</td></tr>
        <tr><td>영국 GBP</td><td>20</td><td>30</td><td>20</td><td>80</td></tr>
        <tr><td>캐나다 CAD</td><td>20</td><td>30</td><td>20</td><td>80</td></tr>
        <tr><td>호주 AUD</td><td>20</td><td>30</td><td>20</td><td>80</td></tr>
        <tr><td>싱가포르 SGD</td><td>20</td><td>30</td><td>20</td><td>80</td></tr>
        <tr><td>중국 CNY</td><td>30</td><td>50</td><td>40</td><td>50</td></tr>
        <tr><td>홍콩 HKD</td><td>20</td><td>30</td><td>20</td><td>30</td></tr>
        <tr><td>태국 THB</td><td>20</td><td>30</td><td>20</td><td>30</td></tr>
        <tr><td>스위스 CHF</td><td>20</td><td>30</td><td>20</td><td>미지원</td></tr>
        <tr><td>뉴질랜드 NZD</td><td>20</td><td>30</td><td>20</td><td>미지원</td></tr>
        <tr><td>베트남 VND</td><td>0</td><td>20</td><td>0</td><td>미지원</td></tr>
        <tr><td>인도네시아 IDR</td><td>0</td><td>20</td><td>0</td><td>미지원</td></tr>
        <tr><td>필리핀 PHP</td><td>0</td><td>0</td><td>0</td><td>미지원</td></tr>
        <tr><td>말레이시아 MYR</td><td>미지원</td><td></td><td></td><td>80</td></tr>
      </tbody>
    </table>
  </div>
</div>