<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>결재 관리</title>
  <link rel="stylesheet" th:href="@{/css/admin.css}">
</head>
<body>
  <header th:replace="fragments/adminheader :: adminheader"></header>
  <div class="main-container">
    <aside th:replace="fragments/aside :: aside"></aside>
    <main th:replace="admin/approve-body :: content"></main>
  </div>
  <script type="module">
    import { init } from '/js/approval-page.js';
    init();
  </script>
</body>
</html>
