<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BNK부산은행</title>
    <link rel="stylesheet" href="./css/index.css">
    <link rel="icon" type="image/png" href="./images/favicon.ico">
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
</head> 

<body>
    <header>
        <div class="box">
            <div class="logo"><img src="./images/logo.PNG" alt="logo"></div>
            <nav id="menu">
                <ul class="top_menu">
                    <li><a href="#">로그인</a></li>
                    <li>|</li>
                    <li><a href="#">인증센터</a></li>
                    <li>|</li>
                    <li><a href="#">은행소개</a></li>
                    <li>|</li>
                    <li><a href="#">Global ▼</a></li>
                </ul>
                <ul class="main_menu">
                    <li><a href="#">개인뱅킹</a></li>
                    <li><a href="#">기업뱅킹</a></li>
                    <li><a href="#">금융상품</a></li>
                    <button class="btn_search">검색하기</button>
                    <button class="btn_menu">전체메뉴</button>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <div class="box">
            <section id="s1">
                <div class="main1"><img src="./images/event.PNG" alt="event"></div>
                <div class="main2">
                    <a href="#" class="btn_quick">빠른조회서비스</a>
                    <a href="#" class="btn_report">사고분실신고</a>
                </div>
            </section>
            <section id="s2">
                <ul class="menu">
                    <li><img src="./images/best.PNG" alt="best">
                        <p class="p1">베스트상품</p>
                        <p>온라인판매 TOP5</p>
                    </li>
                    <li><img src="./images/item.PNG" alt="item">
                        <p class="p1">목적별상품</p>
                        <p>상황에 맞는 자금 관리</p>
                    </li>
                    <li><img src="./images/life.PNG" alt="life">
                        <p class="p1">생애주기별상품</p>
                        <p>청소년기와 함께 해야하는</p>
                    </li>
                    <li><img src="./images/useritem.PNG" alt="useritem">
                        <p class="p1">고객별상품</p>
                        <p>유아기부터 은퇴설계까지</p>
                    </li>
                    <li><img src="./images/new.PNG" alt="new">
                        <p class="p1">신규상품</p>
                        <p>최근 6개월이내 출시</p>
                    </li>
                </ul>
            </section>
            <section id="s3">
                <div class="main1">
                    <h3 class="title">새소식 ></h3>
                    <ul class="latest">
                        <li class="items"><a href="#">부산은행 디폴트옵션 상품명 변경 시행</a> <img
                                src="./images/point.PNG" alt="newpoint"></li>
                        <li class="items"><a href="#">BNK부산은행 전문계약직(이코노미스트/파생···</a> <img
                                src="./images/point.PNG" alt="newpoint"></li>
                        <li class="items"><a href="#">롯데자이언츠 승리기원예금 및 적금(BNK가을···</a> <img
                                src="./images/point.PNG" alt="newpoint"></li>
                        <li class="items"><a href="#">표주지방세정보시스템 및 위택스 서비스가 일···</a> <img
                                src="./images/point.PNG" alt="newpoint"></li>
                        <li class="items"><a href="#">폐업업체 OTP 서비스 종료(이용불가) 안내</a> <img
                                src="./images/point.PNG" alt="newpoint"></li>
                        <li class="items"><a href="#">마이존체크카드 외 4종 약관 개정 안내</a> <img
                                src="./images/point.PNG" alt="newpoint"></li>
                    </ul>
                </div>
                <div class="main2">
                    <h3 class="title">이벤트 ></h3>
                    <ul class="latest">
                        <li class="items"><a href="#">봄이니까, 부산은행 연금계좌 바꿔봄</a> <img
                                src="./images/point.PNG" alt="newpoint"></li>
                        <li class="items"><a href="#">외화현찰 배달서비스 이벤트</a></li>
                        <li class="items"><a href="#">웬스타고객을 위한 Up-Grade프로그램 이벤트</a></li>
                        <li class="items"><a href="#">원덤그랜드부산 봄맞이 객실패키지 이벤트</a></li>
                        <li class="items"><a href="#">경복궁면세점 김해공항점 마이태그하고 할인받자!</a></li>
                        <li class="items"><a href="#">BNK 카드 X 페이북 여행 할인</a></li>
                    </ul>
                </div>
                <div class="main3">
                    <ul class="item1">
                        <li><a href="#">상품공시실</a></li>
                    </ul>
                    <ul class="item2">
                        <li><a href="#">서식/약관/자료실</a></li>
                    </ul>
                    <ul class="item1">
                        <li><a href="#">소비자정보포털</a></li>
                    </ul>
                    <ul class="item2">
                        <li><a href="#">고객센터</a></li>
                    </ul>
                    <ul class="item1">
                        <li><a href="#">비교조회서비스</a></li>
                    </ul>
                    <ul class="item2">
                        <li><a href="#">서민금융</a></li>
                    </ul>
                </div>
            </section>
        </div>
    </main>

    <footer>
        <div class="box">
            <div id="bottom_menu">
                <ul>
                    <li id="blue"><a href="#">개인정보처리방침</a></li>
                    <li>·</li>
                    <li><a href="#">경영공시</a></li>
                    <li>·</li>
                    <li><a href="#">고객정보취급방침</a></li>
                    <li>·</li>
                    <li><a href="#">보호금융상품등록부</a></li>
                    <li>·</li>
                    <li><a href="#">상품공시실</a></li>
                    <li>·</li>
                    <li><a href="#">전자민원접수</a></li>
                    <li>·</li>
                    <li><a href="#">전자금융이용자보호수칙</a></li>
                    <li>·</li>
                    <li><a href="#">전자금융사기피해금환급제도</a></li>
                    <li>·</li>
                    <li><a href="#">위치기반서비스이용약관</a></li>
                </ul>
            </div>
        </div>
        <div class="box">
            <div class="items">
                <ul>
                    <li>고객상담 1588-6200, 1544-6200</li>
                    <li id="gray">|</li>
                    <li>해외 82-2-1588-6200</li>
                </ul>
            </div>
        </div>
        <div class="box">
            <p id="copy">COPYTRIGHT ⓒ 2014 BUSANBANK. ALL RIGHTS RESERVED</p>
        </div>
        <div class="box">
            <div id="social">
                <img src="./images/social.PNG" alt="social">
            </div>
        </div>
    </footer>
</body>

</html>