@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Spoqa Han Sans Neo', 'noto', '돋움', Dotum, Helvetica, AppleGothic, Sans-serif !important;
    text-decoration: none;
    color: inherit;
}

li {
    list-style-type: none;
}

header {
    height: 140px;
    border-bottom: 2px solid red;
}

.box {
    width: 1000px;
    margin: 0 auto;
}

.logo {
    float: left;
    margin: 70px 0 0 0;
}

#menu {
    float: right;
    text-align: right;
    padding: 0px 20px;
}

#menu li {
    display: inline-block;
}
#menu img{
    height: 20px;
}

.top_menu li {
    padding: 2px;
    margin-top: 30px;
    font-size: 13px;
}

.top_menu a:hover {
    text-decoration: underline;
}

.main_menu li {
    margin-right: 30px;
    padding: 20px 0px 3px;
    font-size: 17px;
}

.main_menu a:hover {
    text-decoration: underline;
}

.btn_search {
    border-radius: 4px;
    display: inline-block;
    border: 1px solid rgb(224, 224, 225);
    height: 32px;
    width: 90px;
    background: url(../images/search.png) no-repeat left;
    background-size: 15px;
    background-position: 10px;
    padding-left: 18px;
}

.btn_menu {
    border-radius: 4px;
    display: inline-block;
    border: 1px solid rgb(224, 224, 225);
    height: 32px;
    width: 90px;
    background: url(../images/menu.png) no-repeat left;
    background-size: 15px;
    background-position: 10px;
    padding-left: 18px;
}

main {
    height: 837px;
    font-size: 12px;
}

#s1 {
    height: 320px;
    padding-top: 32px;
}

#s1 img {
    width: 800px;
    height: 280px;
    margin-right: 20px;
}

#s1 .main1,
#s1 .main2 {
    float: left;
    padding-bottom: 10px;
    font-size: 15px;
}

.btn_quick {
    display: block;
    padding: 89px 24px 0 0;
    margin: 0 0 15px 10px;
    height: 134px;
    width: 170px;
    border-radius: 8px;
    color: #ffffff;
    text-align: right;
    background-color: #cb2b11;
    background-image: url(../images/quick.png);
    background-repeat: no-repeat;
    background-position: 25px 25px;
    
}

.btn_report {
    display: block;
    padding: 89px 24px 0 0;
    margin: 15px 0 0 10px;
    height: 134px;
    width: 170px;
    border-radius: 8px;
    color: #ffffff;
    text-align: right;
    background-color: #28282b;
    background-image: url(../images/report.png);
    background-repeat: no-repeat;
    background-position: 25px 25px;
}

#s2 {
    height: 130px;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 32px;
}

#s2 li {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    color: #757575;
    padding: 0 15px 0 15px;
}

#s2 .p1 {
    font-size: 19px;
    color: black;
}

#s3 {
    padding: 56px 0;
}

#s3 .title {
    padding-bottom: 8px;
    font-size: 17px;
}

#s3 li {
    font-size: 14px;
}

#s3 .latest {
    margin-top: 10px;
}

.items {
    position: relative;
    height: 30px;
    color: #757575;
}

#s3 .main1,
#s3 .main2 {
    width: 320px;
    float: left;
    margin-right: 20px;
}

.main3 {
    width: 320px;
    height: 204px;
    float: left;
    text-align: center;
    font-size: 12px;
}

.main3 .item1 {
    width: 150px;
    height: 60px;
    float: left;
    padding: 20px 10px;
    margin-top: 3px;
    margin-bottom: 10px;
    border: 1px solid rgb(224, 224, 225);
    border-radius: 5px;
}

.main3 .item2 {
    width: 160px;
    height: 60px;
    float: right;
    padding: 20px 10px;
    margin-top: 3px;
    margin-bottom: 10px;
    border: 1px solid rgb(224, 224, 225);
    border-radius: 5px;
    vertical-align: middle;
}

.items img {
    width: 15px;
}

footer {
    border-top: 2px solid black;
    height: 208px;
}

footer .items {
    margin-top: 20px;
}

#blue {
    color: #004890;
}

#bottom_menu {
    margin-top: 20px;
}

#bottom_menu ul {
    color: #757575;
}

#bottom_menu li {
    display: inline;
    font-size: 13px;
    padding: 5px 0px;
}

#bottom_menu a:hover {
    text-decoration: underline;
}

footer li {
    margin: 3px;
    display: inline-block;
    text-align: center;
    font-size: 15px;
}

.gray {
    color: #666666;
}

#copy {
    color: #757575;
    font-size: 12px;
}

#social {
    margin-top: 20px;
}

#social img {
    width: 130px;
}